.tribute-container {
	background: rgba(204, 204, 204, 0.8);
	border-radius: 2px;
	border: 1px solid #cccccc;
	box-shadow: 0 0 5px rgba(204, 204, 204, 0.25), 0 0 1px #fff;
	color: #555;
	display: none;
	margin-top: 18px;
	position: absolute;
	top: 0;
	z-index: 1000;
	/* >999 for wp-admin */
}

.tribute-container ul {
	background: #fff;
	list-style: none;
	margin: auto;
	padding: 0;
}

.tribute-container ul li {
	border-bottom: 1px solid #efefef;
	box-sizing: content-box;
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin: 0;
	overflow: hidden;
	padding: 5px 10px;
}

.tribute-container ul li.highlight {
	background: #ddd;
}

.tribute-container ul li .username {
	color: #555;
}

.tribute-container ul li .username span {
	font-weight: 600;
}

.tribute-container ul li small {
	font-size: smaller;
	float: left;
	font-weight: 400;
	margin: 0 40px 0 10px;
}

.tribute-container ul li small span {
	font-weight: 600;
}

.tribute-container ul li .no-match {
	cursor: default;
}

.tribute-container img {
	border-radius: 2px;
	float: left;
	height: 20px;
	margin-top: 0;
	width: 20px;
	margin-left: 5px;
}

.tribute-container .menu-highlighted {
	font-weight: 700;
}
